<!-- Generated template for the WriteMessageComponent component -->
<div class="background">
  <div class="close-button-div">
    <button class="close-button" (tap)="closeModal()" ion-button icon-only clear>
      <ion-icon name="close"></ion-icon>
    </button>
  </div>
  <ion-item>
    <ion-textarea placeholder="Escriba su mensaje..." [(ngModel)]="message"></ion-textarea>
  </ion-item>
  <button [disabled]="disabled" class="send-button" ion-button full (tap)="sendMessage(this)">Enviar</button>
</div>
