write-message {
  .background {
    background-color: #ffffff;
    height: 100%;
    ion-item {
      height: 80%;
    }
  }
  .close-button-div {
    width: 100%;
    text-align: right;
  }
  ion-item {
    .item-inner {
      border-bottom: 0 !important;
    }
  }
  .send-button{
    margin-bottom: 0; 
    position: absolute;
    bottom: 0;
  }
  textarea{
    height: 100%;
  }
}
