page-chat {
  .message {
    color: #ffffff;
    clear: both;
    line-height: 18px;
    font-size: 15px;
    padding: 8px;
    position: relative;
    margin: 8px 0;
    max-width: 85%;
    word-wrap: break-word;
    z-index: -1;
    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
    }
  }
  .received {
    background: rgba(155, 26, 0, 0.3);
    border-radius: 0px 5px 5px 5px;
    float: left;
    &:after {
      border-width: 0px 10px 10px 0;
      border-color: transparent rgba(155, 26, 0, 0.3) transparent transparent;
      top: 0;
      left: -10px;
    }
  }
  .sent {
    background: rgb(155, 26, 0);
    border-radius: 5px 0px 5px 5px;
    float: right;
    &:after {
      border-width: 0px 0 10px 10px;
      border-color: transparent transparent transparent rgb(155, 26, 0);
      top: 0;
      right: -10px;
    }
  }
  ion-footer {
    bottom: -1px;
  }
  .toolbar-input {
    .toolbar-background {
      background-color: $red;
      border: 0;
    }
    input {
      padding-left: 15px;
      border: 0;
      border-radius: 200px;
      width: 90%;
      height: 30px;
    }
    .icon-wrapper {
      color: #ffffff;
      font-size: 20px;
      height: 30px;
      width: 10%;
      float: right;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
