page-home {
  .black {
    color: #000000;
  }
  button {
    span {
      color: #ff2a25;
    }
  }
  .friends-list{
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  .no-messages-container {
    height: calc(100% - 45px);
    display: flex;
    justify-content: center;
    align-items: center;  
    p {
      opacity: 0.5;
    }
  }

  .youtube-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    iframe{
      min-height: 200px;
      width: 100%;
    }
  }
}
