<ion-header>
  <ion-navbar>
    <ion-title>MusicIn</ion-title>
    <ion-buttons end>
      <button (tap)="goToWritePost()" ion-button icon-only>
        <ion-icon class="black" name="md-create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-searchbar placeholder="Buscar amigos..."></ion-searchbar>
  <div class="no-messages-container" *ngIf="messages.length == 0">
    <p>Todavía no tienes mensajes de amigos, ¡búscalos!</p>
  </div>
  <ion-card *ngFor="let message of messages; trackBy: trackById">

    <!-- Profile info -->
    <ion-item>
      <ion-avatar item-start>
        <img src="{{message.photoUrl}}">
      </ion-avatar>
      <h2>{{message.name}}</h2>
      <p>{{message.role}}</p>
    </ion-item>


    <!-- Message -->
    <ion-card-content>
      <p>{{message.text}}</p>
    </ion-card-content>
    <div class="youtube-container" *ngIf="message.youtubeUrl">
      <iframe [src]="message.youtubeUrl | youtube" frameborder="0" allowfullscreen></iframe>
    </div>

    <!-- Icons -->
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <button ion-button icon-left clear small (tap)="modifyLike(message.id, message.userId, message.likes)">
            <ion-icon name="thumbs-up"></ion-icon>
            <div>{{message.likes}}</div>
          </button>
        </ion-col>
        <ion-col col-3>
          <button ion-button icon-left clear small (tap)="goToComments(message.id, message.userId)">
            <ion-icon name="text"></ion-icon>
            <div>{{message.comments}}</div>
          </button>
        </ion-col>
        <ion-col col-6 center text-center>
          <button disabled ion-button icon-left clear small>
            <ion-icon name="time"></ion-icon>
            <div>{{message.date | amTimeAgo}}</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
