<div>
  <div class="image-container" [ngStyle]="{'background-image': 'url(' + offer.imageUrl + ')'}">
  </div>
  <div class="event-info">
    <div class="place-info more-info">
      <span>Lugar: </span>
      <p>{{offer.location}}</p>
    </div>
    <div class="date-info more-info">
      <span>Email de contacto: </span>
      <p>{{offer.contactEmail}}</p>
    </div>
    <div class="more-info">
      <span>Teléfono de contacto: </span>
      <p>{{formatNumber(offer.contactNumber)}}</p>
    </div>
    <div class="description-info more-info">
      <span>Descripción: </span>
      <p>{{offer.description}}</p>
    </div>
    <div class="button-container">
      <button ion-button full (tap)="closeInfo()">Ok</button>
    </div>
  </div>
</div>
