<!-- Generated template for the EventDetailsComponent component -->
<div>
  <div class="image-container">
  </div>
  <div class="event-info">
    <div class="place-info more-info">
      <span>Lugar: </span>
      <p>Plaza de la música</p>
    </div>
    <div class="date-info more-info">
      <span>Fecha: </span>
      <p>10/12/2018</p>
    </div>
    <div class="description-info more-info">
      <span>Descripción: </span>
      <p>El concierto de los gofiones que se celebra por estas fechas todos los años, rememora nuestra música y nuestras raíces.
        Un concierto para toda la familia que no se pueden perder</p>
    </div>
    <div class="button-container">
      <button ion-button full (tap)="closeInfo()">Ok</button>
    </div>
  </div>
</div>
