page-events {
  .black {
    color: #000000;
  }
  .red{
    span {
      color: #ff2a25;
    }
  }
  .align{
    *{
      display: inline;
    }
  }
  ion-avatar {
    img {
      border-radius: 0 !important;
      width: 50px !important;
      height: 50px !important;
    }
  }
  .two-wrapper {
    white-space: normal;
    * {
      display: block;
    }
    button {
      float: right;
      * {
        display: inline;
        color: black;
      }
    }
  }
}
